<! DOCTYPE html>
<html>
    <head>
        <% include layout %>
        <link rel="stylesheet" type="text/css" media="screen" href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
        <script type="text/javascript">
            function triggerModal(interviewerId, intervieweeId) {
                $("#scheduleInterviewModalBody input[name='interviewerId']").val(interviewerId);
                $("#scheduleInterviewModalBody input[name='intervieweeId']").val(intervieweeId);
                $('#scheduleInterviewModal').modal('show');
                return false;
            }

            $(document).ready(function() {
               $('#interviewers').addClass('active');
               $('#submitModal').click(function() {
                    // clear message
                    $('#successLabel').hide(); 
                   $.ajax({
                        type: "POST",
                        url: "/scheduleInterview",
                        data: $("#scheduleInterviewForm").serialize(), // serializes the form's elements.
                        success: function(data) {
                            $('#scheduleInterviewModal').modal('hide');
                            $('#successLabel').show();
                        }    
                    });

                   // prevent default event and stop event propagation
                   return false;
               }); 
            });
        </script>
    </head>
    <body>
        <% include navbar %>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <div class="well sidebar-nav">
                        <% include intervieweeSidebar %>
                    </div>
                </div>
                <div class="span9">
                    <span id="successLabel" class="label label-success" style="display:none; margin-bottom:10px">Awesome! Your interview has been scheduled</span>
                    <div id="interviewerList">
                        <ul class="thumbnails">
                        <% interviewers.Items.forEach(function(interviewer) {%>
                            <% if (!interviewer.price) { return; } %>
                            <li class="span5 clearfix">
                                <div class="thumbnail clearfix">
<!--                                    <img src="http://placehold.it/320x200" alt="ALT NAME" class="pull-left span2 clearfix" style='margin-right:10px'> -->
                                    <div class="caption" class="pull-left">
                                        <a href="#" class="btn btn-primary icon pull-right" data-toggle="modal" onclick="triggerModal(&quot;<%=interviewer.linkedin_id.S %>&quot;, &quot;<%= user.linkedin_id.S%>&quot;)">
                                        Schedule an Interview</a>
                                        <h4>  
                                        <%= interviewer.displayName.S %>
                                        </h4>
                                        <% if (interviewer.linkedinResult) {%>
                                        <h5><%= interviewer.linkedinResult.headline %></h5>
                                        <% } %>
                                        <!--
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <b>Price</b>
                                            </div>
                                            <div class="panel-body"><%= interviewer.price.S %>$/hr</div>
                                        </div>
                                        -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <b>Area of Expertise</b>
                                            </div>
                                            <div class="panel-body"><%= interviewer.areaOfExpertise.S %></div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <b>Description</b>
                                            </div>
                                            <div class="panel-body"><%= interviewer.description.S %></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                          <% });%>
                        </ul>
                    </div>
	            <div id="scheduleInterviewModal" class="modal hide">
		        <div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal">x</button>
			    <h3>Schedule an Interview</h3>
		        </div>
                        <div id="scheduleInterviewModalBody" class="modal-body">
                            <form id="scheduleInterviewForm" class="well">
                                <input name="interviewerId" type="hidden"></input>
                                <input name="intervieweeId" type="hidden"></input>
                                <div id="datetimepicker" class="input-append date">
			            <label>Date and Time (in PST)</label>
                                    <input name="dateTime" type="text" class="span12" placeholder="Preferred Date and Time"></input>
                                    <span class="add-on">
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                    </span>
                                </div>
			        <label>Area you want to be interviewed</label>
                                <textarea name="interviewArea" class="input-xlarge" rows="3" placeholder="Areas like Algorithms, Data Structures, Recursion, Graphs, Databases, ..."></textarea>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a id="submitModal" href="#" class="btn btn-primary">Submit</a>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript">
      $('#datetimepicker').datetimepicker({
        format: 'MM/dd/yyyy hh:mm',
        maskInput: true,
        pickSeconds: false,
        // TODO: This is not working
        startDate: '-1d'
      });
    </script>
    </body>
</html>
